<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font cdn -->
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <style>@import url('https://fonts.googleapis.com/css2?family=Lufga:wght@400;600&family=SUIT:wght@400;600&display=swap');</style>

    <link href="/css/layout.css" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    
    <script src="/js/layout.js"></script>
</head>
<body>
<div class="sidebar">
    <div>
        <div class="logo" onclick="location.href='/chart/'" style="cursor:pointer;">
            <img src="/img/nojam-logo.svg" alt="Logo">
        </div>
        <div class="menu">
            <div class="menu-item active" onclick="location.href='/chart/'" style="cursor:pointer;">Dashboard</div>
            
            <div class="menu-item" onclick="toggleSubmenu(this, 'inventory-submenu')">재고관리</div>
            <div class="submenu" id="inventory-submenu">
                <div th:if="${#strings.equals(session.userRole, 'HEAD')}"
                     class="submenu-item" onclick="activateSubmenu(this); location.href='/stock/head/view/query/1?category=&value='">재고 조회</div>
                <div th:if="${!#strings.equals(session.userRole, 'HEAD')}"
                     class="submenu-item" onclick="activateSubmenu(this); location.href='/stock/branch/view/query/1?category=&value='">재고 조회</div>
            </div>
            
            <div th:if="${#strings.equals(session.userRole, 'HEAD')}"
                 class="menu-item" onclick="toggleSubmenu(this, 'shipping-submenu')">출고관리</div>
            <div class="submenu" id="shipping-submenu">
                <div class="submenu-item" onclick="activateSubmenu(this); location.href='/outgoing/view/1'">출고 조회</div>
                <div class="submenu-item" onclick="activateSubmenu(this); location.href='/outgoing/pending/1'">출고 승인/거절</div>
                <div class="submenu-item" onclick="activateSubmenu(this); location.href='/outgoing/indelivery/1'">출고 완료 처리</div>
            </div>
            
            <div th:if="${#strings.equals(session.userRole, 'BMNG')} or ${#strings.equals(session.userRole, 'BWKR')}"
                 class="menu-item" onclick="toggleSubmenu(this, 'incoming-submenu')">입고관리</div>
            <div class="submenu" id="incoming-submenu">
                <div class="submenu-item" onclick="activateSubmenu(this); location.href=''">입고 전체 조회</div>
                <div class="submenu-item" onclick="activateSubmenu(this); location.href=''">입고 필터링 조회</div>
            </div>
            
            <div th:if="${#strings.equals(session.userRole, 'BMNG')} or ${#strings.equals(session.userRole, 'BWKR')}"
                 class="menu-item" onclick="toggleSubmenu(this, 'order-submenu')">발주관리</div>
            <div class="submenu" id="order-submenu">
                <div class="submenu-item" onclick="activateSubmenu(this)">발주 내역 조회</div>
                <div th:if="${#strings.equals(session.userRole, 'BMNG')}"
                     class="submenu-item" onclick="activateSubmenu(this); location.href=''">발주 등록</div>
                <div th:if="${#strings.equals(session.userRole, 'BMNG')}"
                     class="submenu-item" onclick="activateSubmenu(this); location.href='/order/upload'">발주 내역서 등록</div>
                <div th:if="${#strings.equals(session.userRole, 'BMNG')}"
                     class="submenu-item" onclick="activateSubmenu(this); location.href=''">발주 취소</div>
            </div>
            
            <div th:if="${#strings.equals(session.userRole, 'HEAD')}"
                 class="menu-item" onclick="toggleSubmenu(this, 'system-submenu')">지점 관리</div>
            <div class="submenu" id="system-submenu">
                <div class="submenu-item" onclick="activateSubmenu(this); location.href='/map/'">지점 정보 조회</div>
                <div class="submenu-item" onclick="activateSubmenu(this); location.href='/member/manage-members'">지점 회원 관리</div>
            </div>

            <div class="menu-item" onclick="location.href='/member/mypage'">마이페이지</div>
        </div>
    </div>
    <div>
        <div class="user-info-button">
            <div class="user-info">
                <img th:if="${#strings.equals(session.userRole, 'HEAD')}" src="/img/user-profile.png" alt="User">
                <img th:if="!${#strings.equals(session.userRole, 'HEAD')}" src="/img/user-profile-2.png" alt="User">
                <div>
                    <div class="user-id">[[${session.userName}]]</div>
                    <div th:if="${#strings.equals(session.userRole, 'HEAD')}" class="user-role">본사</div>
                    <div th:if="${#strings.equals(session.userRole, 'BMNG')}" class="user-role">지점장</div>
                    <div th:if="${#strings.equals(session.userRole, 'BWKR')}" class="user-role">지점직원</div>
                </div>
            </div>
            <div class="logout-icon" onclick="logout(event)">
                <img src="/img/logout-icon.svg" alt="Logout">
            </div>
        </div>
    </div>
</div>
<div class="content" layout:fragment="content">

</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/js/Chart.min.js}"></script>

<th:block layout:fragment="script">
    <!-- 자바 스크립트 들어갈 부분~-->
</th:block>
</body>
</html>