<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssginc.nojam.stock.mapper.StockMapper">

    <!-- 전체 상품 조회 -->
    <select id="getAllItem"
            resultType="com.ssginc.nojam.crawl.vo.ItemVO">
        SELECT *
        FROM item
    </select>

    <!-- 본사 재고 등록 -->
    <insert id="insertHeadStockList"
            parameterType="java.util.List">
        INSERT INTO head_stock(stock_id, item_id, stock, last_modified_at)
        VALUES
        <foreach collection="list" item="hs" separator=",">
            (#{hs.stockId}, ${hs.itemId}, ${hs.stock}, #{hs.lastModifiedAt})
        </foreach>
    </insert>

    <!-- 지점 재고 등록 -->
    <insert id="insertBranchStockList"
            parameterType="java.util.List">
        INSERT INTO branch_stock(stock_id, branch_id, item_id, stock, last_modified_at)
        VALUES
        <foreach collection="list" item="bs" separator=",">
            (#{bs.stockId}, #{bs.branchId}, ${bs.itemId}, ${bs.stock}, #{bs.lastModifiedAt})
        </foreach>
    </insert>

</mapper>